<head>{% load staticfiles %}
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<!--어썸-->
<script src="https://kit.fontawesome.com/a359fa4db7.js"></script>

 <style>

</style>

</head>

<body>

<div class="d-flex justify-content-center">

<div class="category-navigation">
  <ons-row height="200px">

    <ons-col>
    <a href="{% url 'bed'%}">
      <button type="button" class="btn btn-outline-dark">
        <i class="far fa-building fa-3x"></i>
        20PY
      </button>
    <a>
    </ons-col>
    <ons-col>
    <a href="{% url 'bath'%}">
      <button type="button" class="btn btn-outline-dark">
        <i class="far fa-building fa-3x"></i>
        30PY
      </button>
    </a>
    </ons-col>
    <ons-col>
    <a href="{% url 'livingroom'%}">
      <button type="button" class="btn btn-outline-dark">
        <i class="far fa-building fa-3x"></i>
        40PY
      </button>
    </a>
    </ons-col>

  </ons-row>

</div>
</div>

</body>